<div class="account-password" ng-controller="PasswordCtrl">
    <h2>{{ 'ACCOUNT.NAVIGATION.PASSWORD.HEADLINE' | translate }}</h2>
    <hr>
    <form class="password-form" name="passwordForm">
        <div class="request-error" ng-show="alert">
            <div uib-alert ng-class="'alert-' + (alert.type)" close="closeAlert()">{{alert.msg}}</div>
        </div>
        <div class="row custom-input-group" ng-class="{'has-error': passwordForm.oldPassword.$invalid && passwordForm.oldPassword.$dirty}">
            <div class="col-md-3"><label for="oldPassword" class="control-label custom-control-label">{{ 'ACCOUNT.NAVIGATION.PASSWORD.OLDPASSWORD.LABEL' | translate }}</label></div>
            <div class="col-md-9">
                <input type="password" name="oldPassword" class="form-control" placeholder="{{ 'ACCOUNT.NAVIGATION.PASSWORD.OLDPASSWORD.LABEL' | translate }}" ng-model="oldPassword" ng-model-options="{ updateOn: 'blur' }" required>
                <div class="alert alert-danger" ng-messages="passwordForm.oldPassword.$error" ng-if="passwordForm.oldPassword.$invalid && passwordForm.oldPassword.$dirty">
                    <ul>
                        <li ng-message="required">{{ 'ACCOUNT.NAVIGATION.PASSWORD.OLDPASSWORD.MISSING' | translate }}</li>
                        <li ng-message="incorrect">{{ 'ACCOUNT.NAVIGATION.PASSWORD.OLDPASSWORD.NOTVALID' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row custom-input-group" ng-class="{'has-error': passwordForm.password.$invalid && passwordForm.password.$dirty}">
            <div class="col-md-3"><label for="password" class="control-label custom-control-label">{{ 'ACCOUNT.NAVIGATION.PASSWORD' | translate }}</label></div>
            <div class="col-md-9">
                <input type="password" name="password" class="form-control" placeholder="{{ 'ACCOUNT.NAVIGATION.PASSWORD' | translate }}" ng-model="password" ng-model-options="{ updateOn: 'blur' }" ng-minlength="6" ng-maxlength="20" required>
                <div class="alert alert-danger" ng-messages="passwordForm.password.$error" ng-if="passwordForm.password.$invalid && passwordForm.password.$dirty">
                    <ul>
                        <li ng-message="required">{{ 'ACCOUNT.NAVIGATION.PASSWORD.VALIDATION.MISSING' | translate }}</li>
                        <li ng-message="minlength">{{ 'ACCOUNT.NAVIGATION.PASSWORD.VALIDATION.TOOSHORT' | translate }}</li>
                        <li ng-message="maxlength">{{ 'ACCOUNT.NAVIGATION.PASSWORD.VALIDATION.TOOLONG' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row custom-input-group" ng-class="{'has-error': passwordForm.passwordConfirm.$invalid && passwordForm.passwordConfirm.$dirty}">
            <div class="col-md-3"><label for="passwordConfirm" class="control-label custom-control-label">{{ 'ACCOUNT.NAVIGATION.PASSWORD.PASSWORDCONFIRM' | translate }}</label></div>
            <div class="col-md-9">
                <input type="password" name="passwordConfirm" class="form-control" placeholder="{{ 'ACCOUNT.NAVIGATION.PASSWORD.PASSWORDCONFIRM' | translate }}" ng-model="passwordConfirm" ng-model-options="{ updateOn: 'blur' }" required compare-to="password">
                <div class="alert alert-danger" ng-messages="passwordForm.passwordConfirm.$error" ng-if="passwordForm.passwordConfirm.$invalid && passwordForm.passwordConfirm.$dirty">
                    <ul>
                        <li ng-message="compareTo">{{ 'ACCOUNT.NAVIGATION.PASSWORD.VALIDATION.CONFIRM' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-button">
                <button type="button" class="btn btn-primary btn-block" ng-click="changePassword()">{{ 'ACCOUNT.NAVIGATION.ACCOUNT.SAVE' | translate }}</button>
            </div>
        </div>
    </form>
</div>