<div class="account-password" ng-controller="PasswordCtrl">
    <form class="password-form form-horizontal" name="passwordForm">
        <div class="request-error" ng-show="alert">
            <div uib-alert ng-class="'alert-' + (alert.type)" close="closeAlert()" ng-bind="alert.msg | translate"></div>
        </div>
        <div class="form-group" ng-class="{'has-error': passwordForm.oldPassword.$invalid && passwordForm.oldPassword.$dirty}">
            <label for="oldPassword" class="col-md-3 control-label" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD.OLDPASSWORD.LABEL' | translate"></label>
            <div class="col-md-6">
                <input type="password" name="oldPassword" class="form-control" placeholder="{{ 'ACCOUNT.NAVIGATION.PASSWORD.OLDPASSWORD.LABEL' | translate }}" ng-model="oldPassword" ng-model-options="{ updateOn: 'blur' }" required>
                <div class="alert alert-danger" ng-messages="passwordForm.oldPassword.$error" ng-if="passwordForm.oldPassword.$invalid && passwordForm.oldPassword.$dirty">
                    <ul>
                        <li ng-message="required" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD.OLDPASSWORD.MISSING' | translate"></li>
                        <li ng-message="incorrect" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD.OLDPASSWORD.NOTVALID' | translate"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': passwordForm.password.$invalid && passwordForm.password.$dirty}">
            <label for="password" class="col-md-3 control-label" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD' | translate"></label>
            <div class="col-md-6">
                <input type="password" name="password" class="form-control" placeholder="{{ 'ACCOUNT.NAVIGATION.PASSWORD' | translate }}" ng-model="password" ng-model-options="{ updateOn: 'blur' }" ng-minlength="6" ng-maxlength="20" required>
                <div class="alert alert-danger" ng-messages="passwordForm.password.$error" ng-if="passwordForm.password.$invalid && passwordForm.password.$dirty">
                    <ul>
                        <li ng-message="required" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD.VALIDATION.MISSING' | translate"></li>
                        <li ng-message="minlength" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD.VALIDATION.TOOSHORT' | translate"></li>
                        <li ng-message="maxlength" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD.VALIDATION.TOOLONG' | translate"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': passwordForm.passwordConfirm.$invalid && passwordForm.passwordConfirm.$dirty}">
            <label for="passwordConfirm" class="col-md-3 control-label" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD.PASSWORDCONFIRM' | translate"></label>
            <div class="col-md-6">
                <input type="password" name="passwordConfirm" class="form-control" placeholder="{{ 'ACCOUNT.NAVIGATION.PASSWORD.PASSWORDCONFIRM' | translate }}" ng-model="passwordConfirm" ng-model-options="{ updateOn: 'blur' }" required compare-to="password">
                <div class="alert alert-danger" ng-messages="passwordForm.passwordConfirm.$error" ng-if="passwordForm.passwordConfirm.$invalid && passwordForm.passwordConfirm.$dirty">
                    <ul>
                        <li ng-message="compareTo" ng-bind="'ACCOUNT.NAVIGATION.PASSWORD.VALIDATION.CONFIRM' | translate"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <button type="button" class="btn btn-primary pull-left" ng-click="changePassword()" ng-bind="'ACCOUNT.NAVIGATION.ACCOUNT.SAVE' | translate"></button>
            </div>
        </div>
    </form>
</div>