<div class="new-moments-modal-body" ng-hide="newEventModalLoaded">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 ng-bind="'INDEX.NAVIGATION.NEWMOMENTS.HEADLINE' | translate"></h4>
    </div>
    <div class="modal-body">
        <p class="intro-text" ng-bind="'INDEX.NAVIGATION.NEWMOMENTS.INTRO' | translate"></p>
        <div class="row">
            <div class="col-md-12 text-search">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn"><button type="button" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button></div>
                            <input type="text" class="form-control" placeholder="{{ 'INDEX.NAVIGATION.NEWMOMENTS.SEARCH_PLACEHOLDER' | translate }}" ng-model="searchInput" ng-change="search()" ng-click="showResultsIfExist()">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-class="{ 'event-date-search' : eventDateSearchEnabled }" ng-click="clickedSelectDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <span class="date-dropdown" uib-dropdown auto-close="outsideClick" is-open="showDateDropdown" on-toggle="toggledDateDropdown(open)">
                            <ul class="uib-dropdown-menu dropdown-menu-left" uib-dropdown-menu>
                                <li class="date-picker" role="menuitem">
                                    <label class="control-label custom-control-label" for="fromDate" ng-bind="'INDEX.NAVIGATION.NEWMOMENTS.START_DATE' | translate"></label>
                                    <div class="input-group input-group-date" ng-class="{'has-error': toDateIsNotValid}">
                                        <input type="text" name="fromDate" id="fromDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fromDate" is-open="fromDatePopup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="fromDateChanged()" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openFromDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li class="date-picker" role="menuitem">
                                    <label class="control-label custom-control-label" for="toDate" ng-bind="'INDEX.NAVIGATION.NEWMOMENTS.END_DATE' | translate"></label>
                                    <div class="input-group input-group-date" ng-class="{'has-error': fromDateIsNotValid}">
                                        <input type="text" name="toDate" id="toDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toDate" is-open="toDatePopup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="toDateChanged()" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openToDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li class="clear-button" role="menuitem" ng-show="fromDate || toDate">
                                    <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="disableEventDateSearch()" ng-bind="'INDEX.NAVIGATION.NEWMOMENTS.DISABLE_EVENT_DATE_SEARCH' | translate"></button>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="event-search-result-dropdown" uib-dropdown auto-close="outsideClick" is-open="showDropdown" on-toggle="toggledSearchDropdown(open)">
                            <ul class="uib-dropdown-menu scrollable-menu" uib-dropdown-menu>
                                <div ng-if="events.length">
                                    <li class="single-event-result" role="menuitem" ng-repeat="event in events">
                                        <a class="event-link btn btn-link" ui-sref="event({ id : event.id })" ng-click="cancel()">
                                            <div class="row event-name-container"><p class="event-name" ng-bind="event.name"></p></div>
                                            <div class="row event-date-container">
                                                <div class="col-md-1">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </div>
                                                <div class="col-md-11 event-date">
                                                    <div class="startDate" ng-bind="event.startDate|date:'longDate'"></div>
                                                    <div class="endDate" ng-show="event.multiDayEvent" ng-bind="' - ' + (event.endDate|date:'longDate')"></div>
                                                </div>
                                            </div>
                                            <div class="row event-location-container" ng-show="event.googleLocation">
                                                <div class="col-md-1">
                                                    <span class="glyphicon glyphicon-map-marker"></span>
                                                </div>
                                                <div class="col-md-11"><p ng-bind="event.googleLocation.name"></p></div>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <div ng-if="!(events.length)">
                                    <li class="no-result" role="menuitem" ng-bind="'INDEX.NAVIGATION.NEWMOMENTS.SEARCH_NO_RESULT' | translate"></li>
                                </div>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" ng-bind="'INDEX.NAVIGATION.NEWMOMENTS.CANCEL' | translate"></button>
        <button type="button" class="btn btn-primary" ng-click="newEvent()" ng-bind="'INDEX.NAVIGATION.NEWMOMENTS.NEW' | translate"></button>
    </div>
</div>