<div class="udpate-password-page">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 udpate-password-form-container">
            <h2 ng-bind="'UPDATEPASSWORD.HEADLINE' | translate"></h2>
            <div class="request-error" ng-show="alert">
                <div uib-alert ng-class="'alert-' + (alert.type)" close="closeAlert()" ng-bind="alert.msg | translate"></div>
            </div>
            <form name="updatePasswordForm" ng-hide="passwordChangedSuccessfull">
                <div class="form-group" ng-class="{'has-error': updatePasswordForm.password.$invalid && updatePasswordForm.password.$dirty}">
                    <input type="password" class="form-control" placeholder="{{ 'UPDATEPASSWORD.NEWPASSWORD' | translate }}" id="password" name="password" ng-model="password" ng-model-options="{ updateOn: 'blur' }" ng-minlength="6" ng-maxlength="20" required />
                    <div class="alert alert-danger" ng-messages="updatePasswordForm.password.$error" ng-if="updatePasswordForm.password.$invalid && updatePasswordForm.password.$dirty">
                        <ul>
                            <li ng-message="required" ng-bind="'UPDATEPASSWORD.VALIDATION.MISSING' | translate"></li>
                            <li ng-message="minlength" ng-bind="'UPDATEPASSWORD.VALIDATION.TOOSHORT' | translate"></li>
                            <li ng-message="maxlength" ng-bind="'UPDATEPASSWORD.VALIDATION.TOOLONG' | translate"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': updatePasswordForm.passwordConfirm.$invalid && updatePasswordForm.passwordConfirm.$dirty}">
                    <input type="password" class="form-control" placeholder="{{ 'UPDATEPASSWORD.CONFIRMPASSWORD' | translate }}" id="passwordConfirm" name="passwordConfirm" ng-model="passwordConfirm" ng-model-options="{ updateOn: 'blur' }" required compare-to="password" />
                    <div class="alert alert-danger" ng-messages="updatePasswordForm.passwordConfirm.$error" ng-if="updatePasswordForm.passwordConfirm.$invalid && updatePasswordForm.passwordConfirm.$dirty">
                        <ul>
                            <li ng-message="compareTo" ng-bind="'UPDATEPASSWORD.VALIDATION.CONFIRM' | translate"></li>
                        </ul>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right" ng-click="setPassword()" ng-bind="'UPDATEPASSWORD.SAVE' | translate"></button>
            </form>
        </div>
    </div>
</div>