<div class="new-event-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 ng-bind="'INDEX.NAVIGATION.NEW_EVENT_MODAL.HEADLINE' | translate"></h4>
    </div>
    <form name="newEventForm" class="new-event-form form-horizontal">
        <div class="modal-body">
            <div class="form-alert" ng-show="alert">
                <div uib-alert ng-class="'alert-' + (alert.type)" close="closeAlert()" ng-bind="alert.msg | translate"></div>
            </div>
            <div class="form-group" ng-class="{'has-error': newEventForm.eventName.$invalid && newEventForm.eventName.$dirty}">
                <label class="col-md-2 control-label" for="event-name" ng-bind="'INDEX.NAVIGATION.NEW_EVENT_MODAL.NAME' | translate"></label>
                <div class="col-md-10">
                    <input type="text" name="eventName" id="event-name" class="form-control" placeholder="{{ 'INDEX.NAVIGATION.NEW_EVENT_MODAL.NAME.PLACEHOLDER' | translate }}" ng-model="event.name" ng-model-options="{ updateOn: 'blur' }" required>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': newEventForm.eventLocation.$invalid && newEventForm.eventLocation.$dirty}">
                <label class="col-md-2 control-label" for="event-location" ng-bind="'INDEX.NAVIGATION.NEW_EVENT_MODAL.LOCATION' | translate"></label>
                <div class="col-md-10">
                    <input type="text" name="eventLocation" id="event-location" class="form-control" placeholder="{{ 'INDEX.NAVIGATION.NEW_EVENT_MODAL.LOCATION.PLACEHOLDER' | translate }}" ng-model="event.location" required ng-change="searchForLocations()" ng-click="clickedLocationSearchInput()" autocomplete="off">
                    <span class="location-search-result-dropdown" uib-dropdown auto-close="outsideClick" is-open="showLocationDropdown" on-toggle="toggled(open)">
                        <ul class="uib-dropdown-menu scrollable-menu" uib-dropdown-menu>
                            <div ng-if="locationSuggestions.length">
                                <li class="single-location-result" role="menuitem" ng-repeat="location in locationSuggestions">
                                    <a class="location-link btn btn-link" ng-click="selectLocation(location)">
                                        <div class="row location-name" ng-bind="location.name"></div>
                                        <div class="row location-address" ng-if="location.formatted_address"><span class="glyphicon glyphicon-map-marker" ng-bind="' ' + (location.formatted_address)"></span></div>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': newEventForm.eventStartDate.$invalid && newEventForm.eventStartDate.$dirty}">
                <label class="col-md-2 control-label" for="event-start-date" ng-bind="'INDEX.NAVIGATION.NEW_EVENT_MODAL.START_DATE' | translate"></label>
                <div class="col-md-4">
                    <div class="input-group input-group-date">
                        <input type="text" name="eventStartDate" id="event-start-date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.startDate" ng-model-options="{ updateOn: 'blur' }" required is-open="startDatePopup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="startDateChanged()" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStartDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <label class="col-md-6 control-label" for="enable-end-date"><input type="checkbox" name="enable-end-date" id="enable-end-date" ng-model="event.multiDayEvent"> {{ 'INDEX.NAVIGATION.NEW_EVENT_MODAL.ENABLE_END_DATE' | translate }}</label>
            </div>
            <div class="form-group" ng-show="event.multiDayEvent" ng-class="{'has-error': newEventForm.eventEndDate.$invalid && newEventForm.eventEndDate.$dirty}">
                <label class="col-md-2 control-label" for="event-end-date" ng-bind="'INDEX.NAVIGATION.NEW_EVENT_MODAL.END_DATE' | translate"></label>
                <div class="col-md-4">
                    <div class="input-group input-group-date">
                        <input type="text" name="eventEndDate" id="event-end-date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.endDate" is-open="endDatePopup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="endDateChanged()" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEndDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label event-description-label" for="event-description" ng-bind="'INDEX.NAVIGATION.NEW_EVENT_MODAL.DESCRIPTION' | translate"></label>
                <div class="event-description-textarea">
                    <textarea name="eventDescription" id="event-description" class="form-control" rows="5" ng-model="event.description"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default text-center pull-left" ng-click="cancel()" ng-bind="'INDEX.NAVIGATION.NEW_EVENT_MODAL.CANCEL' | translate"></button>
            <button type="submit" class="btn btn-primary text-center" ng-click="createEvent()" ng-bind="'INDEX.NAVIGATION.NEW_EVENT_MODAL.CREATE' | translate"></button>
        </div>
    </form>
</div>