<div class="first-login-alert-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 ng-bind="'INDEX.REGISTRATION_CONFIRM_MODAL.HEADLINE' | translate"></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p class="intro-text" ng-bind="'INDEX.REGISTRATION_CONFIRM_MODAL.INTRO' | translate"></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" ng-click="close()" ng-bind="'INDEX.REGISTRATION_CONFIRM_MODAL.BUTTON_TEXT' | translate"></button>
    </div>
</div>