// adjusted container width
@container-large-desktop: (950px + @grid-gutter-width);

// adjusted inner nav container width
@media (min-width: 1200px) {
    .nav-inner-container {
        width: 980px;
        .center-block();
    }
}

.well-form {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;

    h2 {
        margin-top: 0;
    }

    .input-field {
        margin-bottom: 20px;
    }
}

.navbar {
    margin-bottom: 30px;

    .navbar-form {
        padding-left: 0;
    }
}


.signup-page {
    h2 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .signup-form-container {
        .well();
        background-color: transparent;

        .input-field {
            margin-bottom: 10px;
        }

        .send-button {
            margin-top: 25px;
        }
    }
}

.signin-page {
    h2 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .signin-form-container {
        .well();
        background-color: transparent;

        .input-field {
            margin-bottom: 10px;

            .input-group-addon {
                background-color: transparent;
            }
        }

        .send-button {
            margin-top: 40px;
        }
    }
}

.reset-password-page {
    .reset-password-form-container {
        .well();
        background-color: transparent;

        h2 {
            margin-top: 0;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 10px;
        }
    }
}

.udpate-password-page {
    .udpate-password-form-container {
        .well();
        background-color: transparent;

        h2 {
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}

.account-page {
    padding: 0;

    .navigation-container {
        padding: 0;
        border-right: 1px solid #e3e3e3;

        .nav > li {
            line-height: 35px;
        }

        .nav-pills {
            li > a {
                padding-left: 30px;
                color: black;
                font-size: 16px;
            }

            li.active {
                border-left: 2px solid;

                a {
                    font-weight: 700;
                    background-color: transparent;
                }
            }
        }
    }

    .account-container {
        padding: 20px 20px 0 20px;
    }
}

.profile-page {
    margin-top: 30px;

    .user-details {
        margin-bottom: 30px;
        font-size: 16px;

        .user-profile-img-container {
            margin-left: 30px;

            .spinner-container {
                width: 200px;
                height: 200px;
                z-index: 10;
                position: absolute;

                .spinner-img {
                    width: 30px;
                    height: 30px;
                    top: 50%;
                    left: 50%;
                    position: relative;
                    margin-left: -15px;
                    margin-top: -25px;
                }
            }

            .user-profile-img {
                height: 200px;
                width: 200px;
                z-index: 1;
                position: relative;
            }
        }

        .account-details {
            margin-top: 20px;
            margin-bottom: 15px;

            .user-username {
                display: inline-block;
                font-size: 30px;
            }

            .edit-profile-link {
                display: inline-block;
                margin-left: 20px;

                a {
                    margin-bottom: 10px;
                }
            }
        }

        .user-contents {
            a {
                text-decoration: none;
                color: #333;
            }
        }

        .user-name {
            margin-bottom: 15px;
        }
    }
}

.search-page {
    .search-navigation {
        padding: 0;
        border-right: 1px solid #e3e3e3;

        .nav > li {
            line-height: 35px;
        }

        .nav-pills {
            li > a {
                padding-left: 30px;
                color: black;
                font-size: 16px;
            }

            li.active {
                border-left: 2px solid;

                a {
                    font-weight: 700;
                    background-color: transparent;
                }
            }
        }
    }
    
    .search-content {
        .search-input {
            width: 40%;
            min-width: 100px;
            margin-bottom: 30px;
        }
    }

    .user-results {
        .single-user-row {
            margin-bottom: 40px;

            .profile-image {
                .inactive {
                    pointer-events: none;
                    cursor: default;
                }

                .user-profile-img {
                    width: 150px;
                    height: 150px;
                }
            }

            .user-details {
                margin-top: 40px;

                .username {
                    font-size: 18px;
                }

                .name {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
        }

        .no-results-message {
            font-size: 24px;
            display: block;
            text-align: center;
        }
    }

    .event-results {
        .single-event-row {
            margin-bottom: 40px;

            .event-name-container {
                margin-bottom: 5px;

                a {
                    font-size: 20px;
                    color: black;
                }
                
            }

            .username-container {
                margin-bottom: 5px;

                div {
                    display: inline;
                }
            }

            .event-description-container > p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .event-date-container {
                margin-bottom: 20px;

                .event-date > div {
                    display: inline-block;
                }
            }
            
            .event-location-container {
                span {
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        .no-results-message {
            font-size: 24px;
            display: block;
            text-align: center;
        }
    }
}

.user-page {
    margin-top: 30px;

    .user-details {
        margin-bottom: 30px;
        font-size: 16px;

        .user-profile-img-container {
            margin-left: 30px;

            .spinner-container {
                width: 200px;
                height: 200px;
                z-index: 10;
                position: absolute;

                .spinner-img {
                    width: 30px;
                    height: 30px;
                    top: 50%;
                    left: 50%;
                    position: relative;
                    margin-left: -15px;
                    margin-top: -25px;
                }
            }

            .user-profile-img {
                height: 200px;
                width: 200px;
                z-index: 1;
                position: relative;
            }
        }

        .account-details {
            margin-top: 20px;
            margin-bottom: 15px;

            .user-username {
                display: inline-block;
                font-size: 30px;
            }
        }

        .user-contents {
            a {
                text-decoration: none;
                color: #333;
            }
        }

        .user-name {
            margin-bottom: 15px;
        }
    }
}

.event-page {
    .event-details-container {
        margin-left: 0;
        margin-right: 0;

        .event-details {
            display: table;
            width: 100%;

            .col-md-5 {
                display: table-cell;
                float: none;
            }

            .col-md-2 {
                display: table-cell;
                float: none;
                vertical-align: middle;
            }

            .event-name {
                margin-bottom: 5px;
                font-weight: 700;
            }

            .username {
                margin-bottom: 5px;

                div {
                    display: inline;
                }
            }

            .event-description {
                p {
                    word-wrap:break-word;
                }
            }

            .event-date-container {
                margin-bottom: 20px;

                .event-date > div {
                    display: inline-block;
                }
            }
            
            .event-location {
                span {
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
    }

    .event-actions {
        margin: 30px 0 5px 0;
    }

    .event-photos {
        margin-left: 0;
        margin-right: 0;

        .photos-placeholder {
            min-height: 500px;
            text-align: center;

            .h1 {
                margin-bottom: 20px;
            }
        }
    }
}

.search-result-dropdown {
    .dropdown-menu {
        min-width: 300px;
        margin: 0;
    }

    .navigation-link {
        margin: 5px 0 0 0;

        a {
            padding: 0 5px 0 0;
            color: black;
            font-size: 16px;
            float: right;

            span {
                font-size: 14px;
            }
        }
    }

    .no-result {
        margin: 10px 0 10px 0;
        text-align: center;
    }

    .user-results {
        margin: 5px 0 0 0;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 10px;

        .single-user-result {
            margin-bottom: 10px;

            .user-profile-img {
            }

            .user-details {
                .user-name {
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
        }
    }

    .event-results {
        margin: 5px 0 0 0;

        .single-event-result {
            margin-bottom: 5px;

            .event-name {
                margin: 0 0 5px 0;
                a {
                    width: auto;
                    padding: 0;
                    font-size: 16px;
                    color: black;
                }
            }

            .event-date-container {
                margin: 0 0 5px 0;

                div {
                    padding: 0;
                    display: inline-block;
                }
            }
            
            .event-location-container {
                margin: 0;

                div {
                    padding: 0;

                    span {
                        padding: 0;
                    }

                    p {
                        padding: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.new-moments-modal .modal-dialog {
    width: 400px;

    .new-moments-modal-body {
        .modal-body {
            .text-search {
                .event-date-search {
                    background-color: #428bca;
                }

                .date-dropdown {
                    float: right;
                    
                    .dropdown-menu-left {
                        left: 15px;
                        top: -40px;

                        .date-picker {
                            margin-bottom: 10px;
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }
                }
            }

            .event-search-result-dropdown {
                display: block;

                .dropdown-menu {
                    width: 100%;
                }

                .single-event-result {
                    display: block;
                    float: none;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-bottom: 10px;

                    a {
                        display: block;

                        .event-details {
                            padding-left: 10px;
                            padding-right: 10px;

                            .event-name {
                                display: inline;
                                float: left;
                            }

                            .event-date {
                                display: inline;
                                float: right;
                            }
                        }

                        .event-location {
                            font-size: 12px;

                            span {
                                float: left;
                                padding-left: 10px;
                            }
                        }
                    }

                    a:hover {
                        color: #f9f9f9;
                        background-color: #428bca;
                        text-decoration: none;
                        -moz-border-radius: 6px; 
                        border-radius: 6px;
                    }
                }
            }
        }

        .modal-footer {
            margin-top: 30px;
        }
    }
}

.new-event-modal {
    .modal-body {
        .event-description-label {
            margin-bottom: 5px;
        }

        .event-description-textarea {
            display: block;
            padding: 0 15px;
        }

        .location-search-result-dropdown {
            display: block;

            .dropdown-menu {
                width: 100%;
            }

            .scrollable-menu {
                height: auto;
                max-height: 300px;
                overflow-x: hidden;
            }

            .single-location-result {
                display: block;
                float: none;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;

                a {
                    width: 100%;

                    .location-name {
                        float: left;
                        width: 100%;
                        text-align: left;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    .location-address {
                        float: left;
                        width: 100%;
                        font-size: 12px;

                        span {
                            float: left;
                            padding-left: 10px;
                            word-spacing: -0.7em;
                            letter-spacing: normal;
                        }
                    }
                }

                a:hover {
                    color: #f9f9f9;
                    background-color: #428bca;
                    text-decoration: none;
                    -moz-border-radius: 6px; 
                    border-radius: 6px;
                }
            }
        }
    }
}

.update-user-image-modal .modal-dialog {
    width: 300px;

    .update-user-image-modal-body {
        .flex-container {
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .flex-item {
                display: block;
                text-align: center;
                font-size: 16px;
            }

            .headline {
                color: grey;
            }
        }

        .flex-container-upload-input {
            height: 50px;

            label {
                display: block;
                min-height: 100%;
                line-height: 50px;
                margin: 0;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                border-top-color: #ccc;
                border-top-style: solid;
                border-top-width: 1px;
                border-radius: 0;
                cursor: pointer;

                &:hover { background-color: #e6e6e6; }
            }

            input[type='file'] {
                display: none;
            }
        }

        .btn-default {
            height: 50px;
            margin: 0;
            line-height: normal;
            display: table-cell;
            vertical-align: middle;
            float: none;
            font-size: 16px;
            border-color: transparent;
            border-top-color: #ccc;
            border-radius: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.splash {
    position: fixed;
    background: rgba(0,0,0,0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transition: opacity 0.5s, visibility 0s 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}

.splash-open.splash {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.splash .splash-inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,150px);
    transform: translate3d(0,0,150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}


.splash-open.splash .splash-inner {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.splash .splash-content {
    width: 660px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -175px 0 0 -330px;
    color: #fff;
    font-size: 18px;
}

.splash-content h1 {
    color: #fff;
    margin-bottom: 40px;
}

.modal-photo-view-carousel {
    .carousel-img {
        max-height: 800px !important;
        max-width: auto !important;
        padding-top: 30px !important;
        margin: auto;
    }

    .photo-date {
        color: #FFFFFF;
    }
}


.btn-outline {
    margin-top: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    width: 250px;
    font-weight: 300;
}
.btn-outline:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
}