<div class="reset-password-page">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 reset-password-form-container">
            <h2 ng-bind="'RESETPASSWORD.HEADLINE' | translate"></h2>
            <p ng-bind="'RESETPASSWORD.INTRO' | translate"></p>
            <form name="resetPasswordForm">
                <div class="request-error" ng-show="alert">
                    <div uib-alert ng-class="'alert-' + (alert.type)" close="closeAlert()" ng-bind="alert.msg | translate"></div>
                </div>
                <div class="form-group" ng-class="{'has-error': resetPasswordForm.email.$invalid && resetPasswordForm.email.$dirty}">
                    <input type="email" class="form-control" placeholder="{{ 'RESETPASSWORD.EMAIL' | translate }}" id="email" name="email" ng-model="email" ng-model-options="{ updateOn: 'blur' }" required/>
                    <div class="alert alert-danger" ng-messages="resetPasswordForm.email.$error" ng-if="resetPasswordForm.email.$invalid && resetPasswordForm.email.$dirty">
                        <ul>
                            <li ng-message="required" ng-bind="'RESETPASSWORD.VALIDATION.EMAIL.MISSING' | translate"></li>
                            <li ng-message="email" ng-bind="'RESETPASSWORD.VALIDATION.EMAIL.INVALID' | translate"></li>
                        </ul>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right" ng-click="resetPassword()" ng-bind="'RESETPASSWORD.SEND' | translate"></button>
            </form>
        </div>
    </div>
</div>