<div class="search-page">
    <div class="row visible-xs">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="{{ 'INDEX.NAVIGATION.SEARCH.PLACEHOLDER' | translate }}" aria-describedby="basic-addon1" ng-model="searchInput" ng-change="search()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="row search-navigation">
                <uib-tabset active="activePill" vertical="true" type="pills">
                    <uib-tab index="0" select="setTab(1)" heading="{{ 'SEARCH.NAVIGATION.USERS' | translate }}"></uib-tab>
                    <uib-tab index="1" select="setTab(2)" heading="{{ 'SEARCH.NAVIGATION.EVENTS' | translate }}"></uib-tab>
                </uib-tabset>
            </div>
            <div class="row search-filter">
                <div class="event-filter col-xs-8 col-sm-11 col-md-12" ng-show="isSet(2)">
                    <button type="button" class="btn btn-link date-filter-collapse-button" ng-click="isDateFilterCollapsed = !isDateFilterCollapsed">
                        <span ng-bind="'SEARCH.FILTER.EVENTS.DATE_FILTER' | translate"></span> <span ng-class="{true:'glyphicon glyphicon-chevron-right', false:'glyphicon glyphicon-chevron-down'}[isDateFilterCollapsed]"></span>
                    </button>
                    <div uib-collapse="isDateFilterCollapsed" class="date-filter">
                        <div class="filter-item">
                            <label for="from" class="control-label" ng-bind="'SEARCH.FILTER.EVENTS.DATE_FILTER.FROM'|translate"></label>
                            <div class="input-group input-group-date" ng-class="{'has-error': fromDateIsNotValid}">
                                <input type="text" name="from" id="from" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateFilter.from" ng-model-options="{ updateOn: 'blur' }" required is-open="fromDatePopup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="fromDateChanged()" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openFromDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="filter-item">
                            <label for="to" class="control-label" ng-bind="'SEARCH.FILTER.EVENTS.DATE_FILTER.TO'|translate"></label>
                            <div class="input-group input-group-date" ng-class="{'has-error': toDateIsNotValid}">
                                <input type="text" name="to" id="to" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateFilter.to" is-open="toDatePopup.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="toDateChanged()" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openToDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-9 search-content">
            <div class="user-results" ng-show="isSet(1)">
                <div class="row single-user-row" ng-repeat="user in userList">
                    <div class="col-xs-4 col-sm-4 col-md-4 profile-image"><a href="" ng-class="user.userImage.id ? '' : 'inactive'" ng-click="openUserImage(user.userImage)"><img class="img-circle img-responsive" ng-src="{{user.userImage.url}}"></a></div>
                    <div class="col-xs-8 col-sm-8 col-md-8 user-details">
                        <div class="row username"><a ui-sref="user({ id : user.id })" ng-bind="'@' + user.username"></a></div>
                        <div class="row name" ng-bind="user.name"></div>
                    </div>
                </div>
                <div class="no-results-message" ng-if="!userList.length && searchInput" ng-bind="'SEARCH.RESULT.NOUSERS' | translate"></div>
            </div>
            <div class="event-results" ng-show="isSet(2)">
                <div class="row single-event-row" ng-repeat="event in eventList">
                    <div class="col-xs-12 col-sm-12 col-md-6 event-details-container pull-left">
                        <div class="row event-name-container">
                            <a ui-sref="event({ id : event.id })" ng-bind="event.name"></a>
                        </div>
                        <div class="row username-container">
                            <div ng-bind="'SEARCH.RESULT.EVENTS.BY'|translate"></div><a ui-sref="user({ id : event.user.id })" ng-bind="' @' + event.user.username"></a>
                        </div>
                        <div class="row event-description-container">
                            <p class="event-description" ng-bind="event.description"></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="row event-date-container">
                            <div class="col-xs-12 col-sm-12 col-md-12 event-date">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <div ng-bind="event.startDate|date:'longDate'"></div>
                                <div ng-show="event.multiDayEvent" ng-bind="' - ' + (event.endDate|date:'longDate')"></div>
                            </div>
                        </div>
                        <div class="row event-location-container" ng-show="event.googleLocation">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <div class="row event-location">
                                    <div class="" ng-bind="event.googleLocation.name"></div>
                                    <a ng-href="{{event.googleLocation.url}}" target="_blank">
                                        <div class="" ng-bind="event.googleLocation.address"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-results-message" ng-if="!eventList.length && searchInput" ng-bind="'SEARCH.RESULT.NOEVENTS' | translate"></div>
            </div>
        </div>
    </div>
</div>