<div class="update-user-image-modal-body">
    <div class="flex-container"><div class="flex-item headline" ng-bind="'PROFILE.UPDATE_USER_IMAGE_MODAL.HEADLINE' | translate"></div></div>
    <div class="flex-container-upload-input">
        <label for="file-upload" class="custom-file-upload" ng-bind="'PROFILE.UPDATE_USER_IMAGE_MODAL.UPLOAD' | translate"></label>
        <input id="file-upload" type="file" accept="image/*" custom-on-change="uploadFile" />
    </div>
    <button class="btn btn-default btn-block" ng-if="user.userImage.id" ng-click="deleteUserImage()" ng-bind="'PROFILE.UPDATE_USER_IMAGE_MODAL.DELETE_CURRENT' | translate"></button>
    <button class="btn btn-default btn-block" ng-click="cancel()" ng-bind="'PROFILE.UPDATE_USER_IMAGE_MODAL.CANCEL' | translate"></button>
</div>